<br>
<br>
<div class="container">
  <div class="card" style="width: 18rem;">
    <img class="card-img-top" src="..." alt="Card image cap">
    <div class="card-body">
      <h5 class="card-title">Product</h5>
      <p class="card-text">This is product</p>
      <p>Product Name: {{ data.product_name }}</p>
      <p>Product Price: {{ data.product_price }}</p>
      <p>Product GST: {{ data.product_gst }}</p>
      <a [routerLink]="['/product', data.product_code]" class="btn btn-info">More Details...</a>
    </div>
  </div>
</div>
<br>

